* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* ===== Banner 1 (livros "continuar lendo") ===== */
.ebook-lista{
    width: 100%;
    padding:30px;
    gap:12px;
    display: flex;
    justify-content: center;
}
.banner1 {
    display: flex;
    padding: 10px;
    align-items: center;
}

.formato-banner-ebook {
    border-radius: 12px;
    border: 2px solid #ECECEC;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 270px;
    width: 445px;
    cursor: pointer;
    transition: 0.3s;
}
.formato-banner-ebook:hover{
    background-color: #f1f1f1;
}


.livro-e {
    height: 85%;
    width: 33%;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.titulo-e {
    font-family: 'Mada', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    overflow: hidden;
    height: 100px;
}

.partelateral-e {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    width: 65%;
    height: 85%;
}

.autor-e {
    font-family: 'Mada', sans-serif;
    font-weight: 400;
    font-size: 15px;
}


.barraprogresso {
    width: 85%;
    height: 10px;
    border-radius: 999px;
    background-color: #C2C2C2;
    margin-top: 8px;
}

.barraprogresso2 {
    width: 50%; /* <- porcentagem */
    height: 100%;
    background-color: #C8060A;
    border-radius: 999px;
}

.porcentagemtext {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #111111;
}

.continarlendo {
    width: 85%;
    height: 35px;
    border-radius: 8px;
    background-color: #C8060A;
    display: flex;
    padding-left: 3px;
    gap:8px;
    align-items: center;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.4s;
}
.continarlendo:hover{
    background-color: #A0060A;
}
.livrolendo {
    height: 70%;
    width: auto;
}

.continuarlendotext {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

/* ===== Banner "Procurar e-books" ===== */

.bannerprocurar {
    justify-content: center;
    align-items: center;
    display: flex;
}

.wrapperprocurar {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 20px;
}

.mais {
    width: 20%;
    height: auto;
}
.textsmais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.procurarebookstext {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 5px;
}

.aumentarleitura {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #616161;
    font-size: 20px;
}
.editor-e {
    font-family: 'Mada', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}














/* ===== Banner 2 (livros com preço) ===== */
.historico-lista{
    width: 100%;
    padding:25px;
    gap:12px;
    display: flex;
    justify-content: center;
}
.editor-historico {
    font-family: 'Mada', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}

.autor-historico {
    font-family: 'Mada', sans-serif;
    font-weight: 400;
    font-size: 15px;
}


.banner2 {
    width: 460px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #ECECEC;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.banner2:hover{
    background-color: #f1f1f1;
}

.partelateral-historico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    width: 65%;
    height: 95%;
}

.estrelas-historico {
    margin: 0;
    font-family: 'Mada', sans-serif;
    height: auto;
    display: flex;
    align-items: center;
    user-select: none;
    flex-wrap: wrap;
}

.estrelasimg-historico {
    height: 1rem;
    width: auto;
    user-select: none;
}

.avaliados-historico {
    font-size: 0.85rem;
    color: #3D3D3D;
    font-weight: 500;
    user-select: none;
}

.titulo-historico {
    font-family: 'Mada', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    overflow: hidden;
    height: 80px;
}
.setabaixo-historico {
    height: 0.7rem;
    width: auto;
}

.partedebaixo-historico {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    flex-wrap: wrap;
    gap: 4px;
}

.preco-historico {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
}

.quadradosred-historico {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
}

.cartfundo-historico,
.heartfundo-historico {
    width: 35px;
    height: 35px;
    background-color: #C8060A;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;
    flex-shrink: 0;
    transition: 0.4s;
}
.cartfundo-historico:hover,
.heartfundo-historico:hover{
    background-color: #A0060A;
}


.cart-historico {
    width: 85%;
    height: auto;
}
.heart-historico{
    width: 70%;
    height: auto;
}

.livro-historico {
    height: 95%;
    width: 25%;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}
/* ===== Ajustes finos por tamanho de tela ===== */





@media (max-width: 900px) {
    .formato-banner-ebook {
        width: 300px;
        height: 182px;

    }
    .livro-e{
        margin-right: 6px;
    }
    .partelateral{
        gap: 2px;
    }
    .titulo{
        font-size: 14px;
        height: 70px;
    }
    .autor1984, .autorbolitar, .editor, .porcentagemtext{
        font-size: 12px;
    }
    .barraprogresso{
        height: 8px;
    }
    .continarlendo{
        height: 22px;
        border-radius: 4px;
        gap: 5px;
    }
    .continuarlendotext{
        font-size: 14px;
    }
    .wrapperprocurar{
        gap: 5px;
    }
    .procurarebookstext{
        font-size: 23px;
    }
    .aumentarleitura{
        font-size: 16px;
    }
    .textsmais{
        gap: 1px;
    }
    .editor-e{
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    body {
        grid-template-columns: 1fr;
    }
}