.div-mainList{
    display: flex;
    width: 100%;
    height: auto;
    padding-left: 50px;
    position: relative;
    padding-right: 50px;
    background-color: #FAFAFA;
}
.div-mainList-section-filtros{
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    width: 18%;
    height: 90vh;
    display: flex;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    font-family: 'Inter', sans-serif;
}
.div-mainList-section-filtros-title{
    font-size: 22px;
}
.div-mainList-section-filtros-generos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.div-mainList-section-filtros-generos-title{
    font-size: 20px;
    font-weight: 700;
}
.div-mainList-section-filtros-generos-block{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.div-mainList-section-filtros-generos-block-square{
    width: 8%;
    aspect-ratio: 1/1;
}
.div-mainList-section-filtros-generos-block-square-title{
    font-size: 18px;
    color: black;
    font-weight: 500;
}